.gears {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .gear {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid black;
      background-color: #bc986a;
  }

  .gearList {
      display: flex;
    flex-wrap: column;
    justify-content: space-between;
  }

  .gear-button {
      display: flex;
  border-radius: 20px;
  align-content: center;
  background-color: #bc986a;

  }

  .gearForm {
    display: flex;
    border: black;
    background-color: #bc986a;
  }

  .btn-btn-primary {
    display: flex;
  border-radius: 20px;
  align-content: center;
  background-color: #fbeec1;
  }

